:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: oklch(52.843% 0.21641 344.057);
  --color-success: oklch(0.7562 0.1112 132.35);
  --color-error: oklch(0.5699 0.1538 18.53);

  --color-grey-100: oklch(0.9816 0.0017 247.84);
  --color-grey-200: oklch(0.9417 0.0052 247.88);
  --color-grey-300: oklch(0.9109 0.007 247.9);
  --color-grey-400: oklch(0.8671 0.0106 247.95);
  --color-grey-500: oklch(0.7692 0.0145 248.02);
  --color-grey-600: oklch(0.5575 0.0165 244.89);
  --color-grey-700: oklch(0.4276 0.0147 248.17);
  --color-grey-800: oklch(0.3451 0.0133 248.21);
  --color-grey-900: oklch(0.2621 0.0095 248.19);

  --bg-color: var(--color-grey-100);
  --content-color: var(--color-grey-900);

  color: var(--content-color);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}
